.ContributeForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ContributeForm .input-section {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

.ContributeForm .ant-form-item {
  width: 16rem;
}
.ContributeForm .ant-form-item-control {
  width: 10rem;
}
